<div class=" flex-col h-screen">
    <div class="md:visible md:h-auto lg:visible lg:h-auto invisible"><%= image_tag "viklesmallerbanner.png" %></div>
    <p class="my-6 text-center mx-auto md:w-2/6 w-1/2 p-3 bg-soleil rounded-full shadow"><%= link_to "Découvre tous les contes", audiobooks_path  %></p>
    <div class="md:invisible"><%= image_tag "homepage.jpg" %></div>

</div>
