<div class="container flex-col h-screen my-2">

  <h1 class="text-center p-3 m-auto">Je suis une navbar</h1>
    <p class="m-auto"><%= image_tag "homepage.jpg" %></p>
  <h1 class="text-center p-3 m-auto">Je suis un footer</h1>

</div>
